<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78530280765-m8rfl1hpk9k14eq234glj3rgherr337d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78530280765-m8rfl1hpk9k14eq234glj3rgherr337d</string>
	<key>API_KEY</key>
	<string>AIzaSyCbdKd2MutoOT8H0qNuOU3xsqvjagbCl28</string>
	<key>GCM_SENDER_ID</key>
	<string>78530280765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notifyDemo</string>
	<key>PROJECT_ID</key>
	<string>notify-demo-8ac47</string>
	<key>STORAGE_BUCKET</key>
	<string>notify-demo-8ac47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78530280765:ios:315fbe340474e4d008d954</string>
</dict>
</plist>